* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #040612;
  color: white;
}
.container {
  max-width: 1536px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.wrapper {
  padding-top: 50px;
}
.wrapper__title {
  font-size: 58px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #f7f7fa;
  margin-bottom: 20px;
  max-width: 1323px;

}
.wrapper__accent-color {
  color: #a855f7;
}
.wrapper__accent {
  text-transform: uppercase;
}
.wrapper__subtitle {
  font-size: 21px;
  line-height: 1.55;
  color: #c8c8d3;
  max-width: 1323px;
  margin-top: 10px;
}

.wrapper__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 650px));
  gap: 23px;
  margin-top: 20px;
  max-width: 1323px;
}
.wrapper__exercise,
.wrapper__result {
  border-radius: 17px;
  background-color: #0D0E1D;
  border: 1px solid #24253A;
  padding: 32px;
  box-shadow:
    0 20px 60px rgba(0, 0, 0, .20);
  max-width: 700px;
  width: 100%;
  
}
.wrapper__titles {
  display: flex;
  gap: 20px;
  align-items: center;
  /* justify-content: center; */ 
}
.wrapper__titles .wrapper__item:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a855f7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow:
    0 0 25px rgba(168, 85, 247, .35);
}
.wrapper__titles .wrapper__item:last-child span{
  font-size: 27px;
  font-weight: 700;
  line-height: 1;
}
.wrapper__exercise {
  
}
.wrapper__result {
  
}



.wrapper__result {
    overflow: hidden;
    padding: 0;
}

.wrapper__result .cm-editor {
    min-height: 250px;

    border: 1px solid #24253a;
    border-radius: 17px;

    background: #0d0e1d;

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.2),
        0 0 30px rgba(168, 85, 247, 0.04);
}

.wrapper__result .cm-editor.cm-focused {
    outline: none;
}

.wrapper__result .cm-scroller {
    font-family:
        "SFMono-Regular",
        Consolas,
        "Liberation Mono",
        monospace;
}