/*------------------------------------------------------------*/
/*Подключение шрифтов для текста*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*Сброс стилей которые по умолчанию*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*Стиль для целой страницы*/
}
body {
  background-color: #040612;
  color: white;
  font-family: "Roboto", sans-serif;
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*Центральный контейнер*/
.container {
  max-width: 1536px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*Основная обертка*/
.wrapper {
  padding-top: 50px;
}
/*Основная обертка [Заголовок]*/
.wrapper__title {
  font-size: 58px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #f7f7fa;
  margin-bottom: 20px;
  max-width: 1323px;

}
/*------------------------------------------------------------*/
/*Основная обертка [Акцентный цвет]*/
.wrapper__accent-color {
  color: #a855f7;
}
.wrapper__accent {
  text-transform: uppercase;
}
/*------------------------------------------------------------*/
/*Основная обертка [Подзаголовок]*/
.wrapper__subtitle {
  font-size: 21px;
  line-height: 1.55;
  color: #c8c8d3;
  max-width: 1323px;
  margin-top: 10px;
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*Основная обертка [Обертка для блока Задание и Результат]*/
.wrapper__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 650px));
  gap: 23px;
  margin-top: 20px;
  max-width: 1323px;
}
/*------------------------------------------------------------*/
/*Основная обертка [Общие стили для контейнера Задание и Результат]*/
.wrapper__exercise,
.wrapper__result {
  border-radius: 17px;
  background-color: #0D0E1D;
  border: 1px solid #24253A;
  padding: 32px;
  max-width: 700px;
  width: 100%;
  
}
/*------------------------------------------------------------*/
/*Основная обертка [Обертка для SVG и Заголовка - в блоке Задание]*/
.wrapper__titles {
  display: flex;
  gap: 20px;
  align-items: center;
  /* justify-content: center; */ 
}
/*------------------------------------------------------------*/
/*Основная обертка [Обертка самого SVG - в блоке Задание]*/
.wrapper__titles .wrapper__item:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a855f7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow:
    0 0 25px rgba(168, 85, 247, .35);
}
/*------------------------------------------------------------*/
/*Основная обертка [Обертка самого Заголовка - в блоке Задание около SVG]*/
.wrapper__titles .wrapper__item:last-child span{
  font-size: 27px;
  font-weight: 700;
  line-height: 1;
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*Основная обертка [Обертка самого блока Задание]*/
.wrapper__exercise {
  
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*Основная обертка [Обертка самого блока Результат]*/
.wrapper__result {
  
}
/*------------------------------------------------------------*/
/*Основная обертка [Скрывает все что выходит за пределы блока Результат]*/
.wrapper__result {
    overflow: hidden;
    padding: 0;
}
/*------------------------------------------------------------*/
/*Основная обертка [В блоке Результат добавляет фон под кодом]*/
.wrapper__result .cm-editor {
    min-height: 250px;
    border: 1px solid #24253a;
    border-radius: 17px;
    background: #0d0e1d;
    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.2),
        0 0 30px rgba(168, 85, 247, 0.04);
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*Основная обертка [В блоке Результат убирает взаимодействие с кодом]*/
.wrapper__result .cm-editor.cm-focused {
    outline: none;
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*Основная обертка [В блоке Результат устанавливает шрифт]*/
.wrapper__result .cm-scroller {
    font-family:
        "SFMono-Regular",
        Consolas,
        "Liberation Mono",
        monospace;
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*[]*/